.message {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: fit-content;

  background-color: blue;
}

.message-author {
  width: 20%;
  font-weight: bolder;

  background-color: red;
}

.message-content {
  padding-left: 8px;
  height: fit-content;
  width: 80%;

  background-color: red;
}
