.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.message-author {
  width: 20%;
  font-weight: bolder;
}

.message-content {
  overflow-wrap: break-word;
  padding-left: 8px;
  height: fit-content;
  width: 80%;
}
