<h1 mat-dialog-title>Create Room</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Room name</mat-label>
        <input matInput [(ngModel)]="data.name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Room type</mat-label>
        <mat-select [(ngModel)]="data.roomType">
            <mat-option *ngFor="let roomType of roomTypes" [value]="roomType" aria-required>
                {{roomType}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="data.roomType == 'PROTECTED'">
        <mat-form-field appearance="fill">
            <mat-label>Room password</mat-label>
            <input matInput [(ngModel)]="data.password" required>
        </mat-form-field>
    </div>
</div>
<div matDialogActions>
    <button mat-button [mat-dialog-close]="create()" cdkFocusInitial>Ok</button>
</div>