<!-- Container -->
<div>
  <!-- Side Navbar -->
  <app-navbar
    (collapseEvent)="recieveNavCollapse($event)"
    (profilEvent)="recieveProfilPopup($event)"
    (ladderEvent)="recieveLadderPopup($event)"
    (socialEvent)="recieveSocialPopup($event)"
  ></app-navbar>

  <!-- Content of the home page (responsive container)-->
  <div class="home-container" [ngClass]="navCollapsed ? 'home-container-nav-collapsed': 'home-container'">
    <!-- Matchmaking component-->
    <app-matchmaking [chatCollapsed]="chatCollapsed"></app-matchmaking>
    <!-- Game Component -->
    <!-- <app-game></app-game> -->

    <!-- Chatbar Footer-->
    <app-chatbar (chatCollapseEvent)="recieveChatCollapse($event)"></app-chatbar>
  </div>

  <!-- Pop-ups -->
  <app-popups [navCollapsed]="navCollapsed" [profilPopup]="profilPopup" [ladderPopup]="ladderPopup" [socialPopup]="socialPopup"></app-popups>

</div>
