/* CARD */
.matchmaking-cards {
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s;

    overflow: hidden;
  }

  .matchmaking-cards-collapsed {
    height: calc(100% - 300px);
  }

  .matchmaking-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: fit-content;
    width: 22%;
    min-width: 115px;
    max-height: 470px;
    max-width: 280px;
    border-radius: 1em;
    border: 5px solid #44526F;

    background-color: #2c3649;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    transition: 1s;
  }

  .matchmaking-card-selected {
    height: calc(fit-content + 5%);
    width: 25%;
    max-height: 945px;
    max-width: 420px;
    transition: 0.3s;
  }

  .matchmaking-logo {
    width: 60%;
    height: auto;
    border-radius: 100%;
    padding: 10px;
    background-color: #1A202C;
  }

  .matchmaking-card-title {
    font-size: 24px;
    font-weight: 900;
  }

  .matchmaking-card-desc {
    padding: 24px;

  }

  /* BTN */
  .matchmaking-btn {
    width: 60%;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    font-size: large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    background-color: #1A202C;
    margin: 12px;
    transition: all 0.3s;
    color: white;
  }

  .matchmaking-btn:hover {
    background-color: #44526F;
    font-size: large;
    font-weight: bold
  }

  .matchmaking-btn:active {
    background-color: white;
    font-size: large;
    font-weight: bold;
    color: #1A202C;
  }

  .matchmaking-btn:active p{
    color: #1A202C;
  }
