<!-- Matchmaking container -->
<div class="matchmaking-cards" [ngClass]=" collapseService.chatCollapsed ? 'matchmaking-cards-collapsed': ''">

  <!-- Matchmaking gamemode-->
  <div class="matchmaking-card" *ngIf="!rankedQueue && !customQueue" [ngClass]="normalQueue ? 'matchmaking-card-selected': ''">
    <h3 class="matchmaking-card-title" >Original mode</h3>
    <img class="matchmaking-logo" src="/assets/images/classic.png" alt="">
    <p class="matchmaking-card-desc">The original pong gamemode from 1972.</p>
    <p *ngIf="this.matchmakingService.stopWatch.running">Time in queue : {{ this.matchmakingService.stopWatch.secInQueue }}s</p>
    <button class="matchmaking-btn" *ngIf="!normalQueue" (click)="buttonRequestJoinNormalMatchmaking()">Join queue</button>
    <button class="matchmaking-btn" *ngIf="normalQueue" (click)="buttonRequestLeaveMatchmaking()">Quit queue</button>
  </div>

  <div class="matchmaking-card" *ngIf="!customQueue && !normalQueue" [ngClass]="rankedQueue ? 'matchmaking-card-selected': ''">
    <h3 class="matchmaking-card-title" >Ranked mode</h3>
    <img class="matchmaking-logo" src="/assets/images/ranked.png" alt="">
    <p class="matchmaking-card-desc">Prove yourself against the best players.</p>
    <p *ngIf="this.matchmakingService.stopWatch.running">Time in queue : {{ this.matchmakingService.stopWatch.secInQueue }}s</p>
    <button class="matchmaking-btn" *ngIf="!rankedQueue" (click)="buttonRequestJoinRankedMatchmaking()">Join queue</button>
    <button class="matchmaking-btn" *ngIf="rankedQueue" (click)="buttonRequestLeaveMatchmaking()">Quit queue</button>
  </div>

  <div class="matchmaking-card" *ngIf="!normalQueue && !rankedQueue" [ngClass]="customQueue ? 'matchmaking-card-selected': ''">
    <h3 class="matchmaking-card-title" >Fun mode</h3>
    <img class="matchmaking-logo" src="/assets/images/fun.png" alt="">
    <p class="matchmaking-card-desc">The funniest remix of the original pong gamemode.</p>
    <p *ngIf="this.matchmakingService.stopWatch.running">Time in queue : {{ this.matchmakingService.stopWatch.secInQueue }}s</p>
    <button class="matchmaking-btn" *ngIf="!customQueue" (click)="buttonRequestJoinCustomMatchmaking()">Join queue</button>
    <button class="matchmaking-btn" *ngIf="customQueue" (click)="buttonRequestLeaveMatchmaking()">Quit queue</button>
  </div>
</div>
