.container {
  height: calc(100% - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s;
}

.container-collapsed {
  height: calc(100% - 300px);
}

.wait-close {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  width: fit-content;
}

.wait-close-button {
  fill: white;
  cursor: pointer;
  transition: 0.3s;

  padding-left: 32px;
  padding-right: 8px;
}

.wait-close-text {
  cursor: pointer;
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

.wait-title {
  font-size: 32px;
  height: fit-content;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  color: white;
}
