<!-- Container -->
<div class="container">

  <!-- Wrapper for responsive -->
  <div class="container-wrapper">
      <!-- Player info -->
      <div #playersInfo class="players-info">

        <div class="playerinfo-box">
        <!--  -->
        <img class="playerinfo-avatar" avatar username= {{this.game.players[0].username}}>
        <span class="playerinfo-name">{{this.game.players[0].username}}</span>
        <!--  -->
        <canvas class="playerinfo-custom" *ngIf="this.gameService.isCustomGame(this.game)" #boostOne id="boostOne"></canvas>
        <div class="playerinfo-normal" *ngIf="!this.gameService.isCustomGame(this.game)"></div>
        </div>

        <!-- VS -->
        <span class="playerinfo-vs">V.S</span>

        <div class="playerinfo-box">
        <!--  -->
        <canvas class="playerinfo-custom" *ngIf="this.gameService.isCustomGame(this.game)" #boostTwo id="boostTwo"></canvas>
        <div class="playerinfo-normal" *ngIf="!this.gameService.isCustomGame(this.game)"></div>
        <!--  -->
        <span class="playerinfo-name">{{this.game.players[1].username}}</span>
        <img class="playerinfo-avatar" avatar username= {{this.game.players[1].username}}>
        </div>

      </div>

      <!-- Game -->
      <canvas id="canvas-container" #gameCanvas ></canvas>

      <!-- Controls -->
      <div class="gameinfo-controls">
        <!-- Up -->
        <div class="gameinfo-controls-key" [ngClass]="gameService.keyPressed === 'ArrowUp' ? 'pressed': ''">
          <svg class="gameinfo-controls-key-icon" [ngClass]="gameService.keyPressed === 'ArrowUp' ? 'pressed-icon': ''" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.6 17L14 31.4H33.2L23.6 17Z"/>
          </svg>
        </div>
        <!-- Down -->
        <div class="gameinfo-controls-key" [ngClass]="gameService.keyPressed === 'ArrowDown' ? 'pressed': ''">
          <svg class="gameinfo-controls-key-icon" [ngClass]="gameService.keyPressed === 'ArrowDown' ? 'pressed-icon': ''" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M33.2 17L23.528 31.4L14 17H33.2Z"/>
          </svg>
        </div>
        <!-- Space -->
        <div *ngIf="game.constructor.name === 'CustomGame'" class="gameinfo-controls-longkey" [ngClass]="gameService.keyPressed === ' ' ? 'pressed': ''">
          <svg class="gameinfo-controls-key-icon" [ngClass]="gameService.keyPressed === ' ' ? 'pressed-icon': ''" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 27V39H43.5V27H40.5V36H6.75V27H3.75Z"/>
          </svg>
        </div>

        <!-- Leave Game -->
        <button class="gameinfo-button" (click)="buttonRequestLeaveGame()">
          <svg class="gameinfo-button-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.6667 24.5H25.3333V10.5604C25.3333 9.42459 24.4363 8.50001 23.3333 8.50001H18.6667V11.1667H22.6667V27.1667H28.6667C29.035 27.1667 29.3333 26.8684 29.3333 26.5V25.1667C29.3333 24.7984 29.035 24.5 28.6667 24.5ZM15.6767 5.87542L7.67664 7.94792C7.08288 8.10167 6.66663 8.65417 6.66663 9.28834V24.5H3.33329C2.96496 24.5 2.66663 24.7984 2.66663 25.1667V26.5C2.66663 26.8684 2.96496 27.1667 3.33329 27.1667H17.3333V7.21584C17.3333 6.31667 16.5183 5.65708 15.6767 5.87542ZM13.6666 17.8334C13.1146 17.8334 12.6666 17.2363 12.6666 16.5C12.6666 15.7638 13.1146 15.1667 13.6666 15.1667C14.2187 15.1667 14.6666 15.7638 14.6666 16.5C14.6666 17.2363 14.2187 17.8334 13.6666 17.8334Z"/>
          </svg>
          <p>Leave game</p>
        </button>
      </div>
  </div>

  <!-- Button -->
  <div class="gameinfo">
    <!-- Rules -->
    <div class="game-info-rules">
      <h3>Rules</h3>
      <p>1. The first player to reach 11 goals win the match.</p>
      <p>2. More the ball hit a paddle, speeder she goes.</p>
      <p *ngIf="game.constructor.name === 'CustomGame'">3. Press the spacebar to use your power up spell !</p>
    </div>

  </div>

</div>
