.container {
  height: calc(100% - 58px);
  width: 100%;
  transition: all 0.3s;
}

.container-collapsed {
  height: calc(100% - 320px);
}

 canvas {
    display: inline;
 }

 #players-info{
    display: flex;
    justify-content: space-between;
    height: 25px;
 }

 #boostOne{
  background-color:rgb(255, 140, 64);
  height: 100%; 
  width: 100%;
  margin-right: 5%;
 }

 #boostTwo{
  background-color:rgb(255, 140, 64);
  height: 100%; 
  width: 100%;
  margin-left: 5%;
 }

#playerOneInfo{
  height: 100%;
  width: 50%;
 }

 #playerTwoInfo{
  height: 100%;
  width: 50%;
}
