<div class="container" [ngClass]="collapseService.chatCollapsed ? 'container-collapsed': ''">
  <div align="center">
      <div #playersInfo id= "players-info">
        <div id="playerOneInfo">
          <img id="avatarOne" avatar username= {{this.game.players[0].username}}>
          <span>{{this.game.players[0].username}}</span>
        </div>
        <canvas *ngIf="this.gameService.isCustomGame(this.game)" #boostOne id="boostOne"></canvas>
        <span style="font-family: Courier New">V.S</span>
        <canvas *ngIf="this.gameService.isCustomGame(this.game)" #boostTwo id="boostTwo"></canvas>
        <div id="playerTwoInfo">
          <span>{{this.game.players[1].username}}</span>
          <img id="avatarTwo" avatar username= {{this.game.players[1].username}}>
        </div>
      </div>
      <canvas id="canvas-container" #gameCanvas ></canvas>
  </div>
  <button (click)="buttonRequestLeaveGame()">Leave game</button>
</div>
