.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* height: calc(100% - 58px); */
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}

/* .container-collapsed {
  height: calc(100% - 320px);
} */

/* Game canva */
 #canvas-container{
  height: 95%;
  width: 100%;
 }

 #players-info{
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
 }

 #playerOneInfo{
  height: 100%;
  width: 50%;
 }

 #playerTwoInfo{
  height: 100%;
  width: 50%;
}

 #boostOne{
  background-color:rgb(255, 140, 64);
  height: 100%;
  width: 60%;
  margin-right: 5%;
  margin-left: 5%;
 }

 #boostTwo{
  background-color:rgb(255, 140, 64);
  height: 100%;
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
 }

#avatarOne{
  border-radius: 100%;
  height: 100%;
  width: 15%;
  margin-right: 15%;
}

#avatarTwo{
  border-radius: 100%;
  height: 100%;
  width: 15%;
  margin-left: 15%;
}


/* Game info */
 .gameinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
 }

 .gameinfo-button {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: fit-content;
  height: 48px;
  cursor: pointer;

  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;

  border: none;
  background-color: white;
  margin: 12px;
  transition: all 0.3s;
  color: #1A202C;
}

 .gameinfo-button:hover {
  background-color: #44526F;
  font-size: large;
  font-weight: bold;
  color: white;
}

.gameinfo-button:active {
  background-color: #1A202C;
  font-size: large;
  font-weight: bold;
  color: white;
}

.gameinfo-button .gameinfo-button-icon {
  fill: #1A202C;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.gameinfo-button:hover .gameinfo-button-icon {
  fill: white;
}

.gameinfo-button:active .gameinfo-buttonicon {
  fill: white;
}

/* Controls */
.gameinfo-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: fit-content;
}

.gameinfo-controls-key {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  width: 48px;

  background-color: none;
  border: solid 2px white;
  border-radius: 1em;
  transition: 0.3s;
}

.gameinfo-controls-longkey {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  width: 144px;

  background-color: none;
  border: solid 2px white;
  border-radius: 0.8em;
  transition: 0.3s;
}

.pressed {
  transition: 0.3s;
  background-color: white;
}

.gameinfo-controls-key-icon {
  height: 48px;
  width: 48px;

  fill: white;
  transition: 0.3s;
}

.pressed-icon {
  fill: #1A202C;
  transition: 0.3s;
}
