<div class="container" [ngClass]="collapseService.chatCollapsed ? 'container-collapsed': ''">
  <div id="game-container" align="center">
      <div #playersInfo id= "players-info">
              <div #playerOneInfo></div>
              <canvas ngif="this.gameService.isCustomGame(this.game)" #boostOne style="background-color:blue"></canvas>
              <canvas ngif="this.gameService.isCustomGame(this.game)" #boostTwo style="background-color:blue"></canvas>
              <div #playerTwoInfo></div>
      </div>
      <canvas id="canvas-container" #gameCanvas ></canvas>
  </div>
  <button (click)="buttonRequestLeaveGame()">Leave game</button>
</div>
