::ng-deep.mat-dialog-container {
  overflow-x: hidden !important;
  width: fit-content;
  height: fit-content;
  padding: 0px !important;

  border-radius: 1em;
  background-color: #44526f;
}

::ng-deep.mat-dialong-content {
  width: fit-content;
  height: fit-content;
}

.chatroom-create {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  height: fit-content;
  padding: 16px;
  border-radius: 1em;
  border: 5px solid #44526f;
  background-color: #2c3649;

  font-weight: bolder;
  color: white;
  font-size: 18px;
}

.chatroom-create-title {
  text-align: center;
}

.chatroom-create-fields {
  overflow-y: hidden !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;
}

.chatroom-create-label {
  color: white;
}

.chatroom-create-field {
  width: 200px;

  background-color: #2c3649;
  border-radius: 1em;
}

.chatroom-create-selector {
  color: white;
}

.chatroom-create-select {
  color: white;
  background-color: #44526f;
  transition: 0.3s;
}

.chatroom-create-select:hover {
  background-color: #1a202c;
  transition: 0.3s;
}
