<div class="container">

  <!-- Friend / Block list -->
  <div class="social">
    <!-- Social header -->
    <div class="social-header">
      <button class="social-header-button" [ngClass]="showFriends === true ? 'active': 'social-header-button'" (click)="selectFriends()">Friends</button>
      <button class="social-header-button" [ngClass]="showFriends === false ? 'active': 'social-header-button'" (click)="selectBlocked()">Blocked</button>
    </div>

    <!-- Friend list -->
    <div *ngIf="showFriends && socialService.isLoaded" class="social-list">
      <!-- Friend item -->
      <div *ngFor="let user of socialService.friends" class="social-list-item" (click)="openConversation(user.targetName)">
        <img class="social-list-item-avatar" avatar username="{{user.targetName}}" alt="">
        <p>{{ user.targetName }}</p>
        <!-- Status (online, ingame, offline) -->
        <div class="social-list-item-status" [ngClass]="socialService.getUserStatus(user.authorName)"></div>
        <!-- Unfriend button -->
        <svg class="social-list-item-delete" (click)="socialService.unfriendUser(username, user.targetName)" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 3.4284L20.5716 0L12 8.5716L3.4284 0L0 3.4284L8.5716 12L0 20.5716L3.4284 24L12 15.4284L20.5716 24L24 20.5716L15.4284 12L24 3.4284Z"/>
        </svg>
      </div>
    </div>

    <!-- Block list -->
    <div *ngIf="!showFriends && socialService.isLoaded" class="social-list">
      <!-- Blocked item -->
      <div *ngFor="let user of socialService.blocked" class="social-list-item">
        <img class="social-list-item-avatar" avatar username="{{user.targetName}}" alt="">
        <p>{{ user.targetName }}</p>
        <!-- Unblock button -->
        <svg class="social-list-item-delete" (click)="socialService.unblockUser(username, user.targetName)" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 3.4284L20.5716 0L12 8.5716L3.4284 0L0 3.4284L8.5716 12L0 20.5716L3.4284 24L12 15.4284L20.5716 24L24 20.5716L15.4284 12L24 3.4284Z"/>
        </svg>
      </div>
    </div>
  </div>

  <!-- Direct Messages -->
  <div class="dms">
    <div class="dms-box-messages" *ngIf="socialService.isLoaded && dmsService.loadedDmUsername != ''">
      <!-- Messages Header -->
      <div class="dms-box-messages-header">
        <p>{{ dmsService.loadedDmUsername }}</p>
      </div>

      <!-- Messages -->
      <div class="dms-box-messages-items">
        <div class="dms-box-messages-item" *ngFor="let message of dmsService.loadedDms" [ngClass]="message.authorName === username ? 'sent': 'received'">
          <div class="dms-box-messages-item-user">
            <img class="dms-box-messages-item-avatar" avatar username="{{ message.authorName }}" alt="">
          </div>
          <p>{{ message.content }}</p>
        </div>
      </div>
    </div>

    <div class="dms-box-messages-input" *ngIf="socialService.isLoaded && dmsService.loadedDmUsername != ''">
      <input class="dms-box-messages-input-box" #box (keyup.enter)="dmsService.sendMessage(username, dmsService.loadedDmUsername, box.value); box.value = ''" (blur)="dmsService.sendMessage(username, dmsService.loadedDmUsername, box.value); box.value = ''">
      <button class="dms-box-messages-input-send" (click)="dmsService.sendMessage(username, dmsService.loadedDmUsername, box.value); box.value = ''">Send</button>
    </div>
  </div>

</div>
