.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
}

.social {
  width: 50%;
  height: 100%;
}

.social-header {
  display: flex;
  flex-direction: row;

  height: 32px;
  width: 100%;
}

.social-header-button {
  width: 50%;
  height: 32px;
  background-color: #1A202C;
  color: white;
  border: none;
  border-radius: 1em;
  transition: 0.3s;
}

.active {
  background-color: white;
  color: black;
}

.social-list {
  display: flex;
  flex-direction: column;

  height: calc(100% - 32px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.social-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 64px;
  width: 100%;
  border-radius: 1em;

  background-color: #1A202C;
  color: white;
  border: 1px solid black;
  transition: 0.3s;
}

.social-list-item:hover {
  background-color: white;
  color: #1A202C;
}

.social-list-item-avatar {
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.social-list-item-status {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.ingame{
  background-color: orange;
}

.dms {
  width: 50%;
  height: 100%;
}
