/* Container */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2c3649;
}

/* Rooms selection */
.chat-selection {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 260px;
  width: calc(25% - 12px);
}

.chat-selection-list {
  overflow: scroll;
  overflow-x: hidden;
  padding: 0;

  height: calc(260px - 32px);
  width: 100%;
}

.chat-selection-items {
  background-color: red;
}

.chat-selection-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 48px;
  border-radius: 1em;
  background-color: #1a202c;
  color: white;
  transition: 0.3s;
}

.chat-selection-item:hover {
  background-color: #44526f;
  transition: 0.3s;
}

.chat-selection-item:active {
  background-color: white;
  color: #1a202c;
  transition: 0.3s;
}

.chat-selection-item-icon {
  fill: white;
  stroke: white;
}

.chat-selection-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 32px;
  width: 100%;
}

.chat-selection-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;
  width: 45%;
  background-color: #1a202c;
  color: white;

  transition: 0.3s;
  border-radius: 1em;
  cursor: pointer;
  border: 0px;
}

.chat-selection-button:hover {
  background-color: #44526f;
  transition: 0.3s;
}

.chat-selection-button:active {
  background-color: white;
  color: #1a202c;
  transition: 0.3s;
}

.chat-selection-button-icon {
  fill: white;
  transition: 0.3s;
}

.chat-selection-button:active .chat-selection-button-icon {
  fill: #1a202c;
  transition: 0.3s;
}

/* Chat */
.chat-box {
  height: 260px;
  /* width: calc(50% - 12px); */
  width: calc(75% - 12px);
  background-color: #44526f;
  border-radius: 1em;
}

/* Invite */
/* .chat-invite {
  height: 260px;
  width: calc(25% - 12px);
  background-color: #44526f;
  border-radius: 1em;
} */
