.chatbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  background-color: #2c3649;
  transition: 0.1s;
  overflow: hidden;
}

.chatbar-collapsed {
  height: 300px;
}

.chatbar-header {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.chatbar-header .btn-collapse {
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.chatbar-content {
  height: 100%;
  width: 100%;
}
