<div class="container">
  <!-- Header (Information about user )-->
  <div class="profil-header">
    <!-- Avatar & Username -->
    <div class="profil-header-box">
      <img class="profil-header-avatar" [src]="avatar.src" height="128px" width="128px">
      <p> {{ jwtService.getPayload()?.username }} </p>
    </div>

    <!-- Rank & ELo -->
    <div class="profil-header-box">
      <h3>Ranking :</h3>
      <!-- Rank -->
      <div class="profil-header-line">
        <img src="assets/images/rank.png" height="32px" width="32px">
        <p> 0 </p>
      </div>
      <!-- Elo score -->
      <div class="profil-header-line">
        <img src="assets/images/elo.png" height="32px" width="32px">
        <p> {{ matchHistoryService.score }} </p>
      </div>
    </div>

    <!-- Win/Loss Streaks -->
    <div class="profil-header-box">
      <h3>Largest streak :</h3>
      <!-- Largest win streak -->
      <div class="profil-header-line">
        <img src="assets/images/win-streak.png" height="32px" width="32px">
        <p>{{ matchHistoryService.winStreak }} </p>
      </div>
      <!-- Largest win streak -->
      <div class="profil-header-line">
        <img src="assets/images/loss-streak.png" height="32px" width="32px">
        <p>{{ matchHistoryService.loseStreak }} </p>
      </div>
    </div>
  </div>

    <!-- Win/Loss counter -->
  <div class="profil-separator">

    <div class="profil-win-counter">
      <p class="profil-win-logo">W</p>
      <p> {{ matchHistoryService.nbWins }} / {{ matchHistoryService.nbLoses }} </p>
      <p class="profil-loss-logo">L</p>
    </div>

    <!-- History Title -->
    <h3 class="profil-history-title">Match History</h3>
  </div>

  <!-- Match History -->
  <app-match-history></app-match-history>

</div>
