<div class="container">
  <!-- Header (Information about user )-->
  <div class="profil-header">
    <!-- Avatar & Username -->
    <div class="profil-header-box">
      <img avatar class="profil-header-avatar" height="128px" width="128px">
      <p> {{ profilInfoService.username }} </p>
    </div>
    <!-- Rank & ELo -->
    <div class="profil-header-box">
      <h3>Ranking :</h3>
      <!-- Rank -->
      <div class="profil-header-line">
        <img src="assets/images/rank.png" height="32px" width="32px">
        <p> 0 </p>
      </div>
      <!-- Score -->
      <div class="profil-header-line">
        <img src="assets/images/elo.png" height="32px" width="32px">
        <p> {{ profilInfoService.score }} </p>
      </div>
    </div>
    <div class="profil-header-box">
      <h3>Largest streak :</h3>
      <!-- Largest win streak -->
      <div class="profil-header-line">
        <img src="assets/images/win-streak.png" height="32px" width="32px">
        <p>{{ profilInfoService.winStreak }} </p>
      </div>
      <!-- Largest win streak -->
      <div class="profil-header-line">
        <img src="assets/images/loss-streak.png" height="32px" width="32px">
        <p>{{ profilInfoService.loseStreak }} </p>
      </div>
    </div>
  </div>

  <!-- Win/Loss counter -->
  <div class="profil-win-counter">
    <p class="profil-win-logo">W</p>
    <p> {{ profilInfoService.nbWins }} / {{ profilInfoService.nbLoses }} </p>
    <p class="profil-loss-logo">L</p>
  </div>

  <!-- Match History -->
  <app-match-history class="test"></app-match-history>
</div>
