<div class="history-content">
  <!-- History Title -->
  <h3 class="history-title">Match History</h3>

  <!-- List -->
  <ul class="history-items">
    <!-- Item -->
    <li class="history-item" *ngFor="let game of profilInfoService.gameHistory.slice().reverse()">
      <!-- Left player -->
      <div class="history-item-player">
        <img class="history-item-avatar" avatar username="{{ profilInfoService.getUsernameById(game.winnerId) }}" height="48px" width="48px" alt="">
        <p>{{ profilInfoService.getUsernameById(game.winnerId) }}</p>
      </div>
      <!-- Score -->
      <div class="history-item-scoreboard">
        <p class="history-item-score">{{ game.winnerGoals }}</p>
        <img *ngIf="profilInfoService.getUsernameById(game.winnerId) === username" src="/assets/images/vs-win.png" alt="">
        <img *ngIf="profilInfoService.getUsernameById(game.winnerId) != username" src="/assets/images/vs-lose.png" alt="">
        <p class="history-item-score">{{ game.loserGoals }}</p>
      </div>
      <!-- Right player -->
      <div class="history-item-player">
        <p>{{ profilInfoService.getUsernameById(game.loserId) }}</p>
        <img class="history-item-avatar" avatar username="{{ profilInfoService.getUsernameById(game.loserId) }}" height="48px" width="48px" alt="">
      </div>
    </li>
  </ul>

</div>
