<div class="container">
  <div class="history-container">
    <ul>
      <li class="history-item" *ngFor="let game of profilInfoService.gameHistory" [ngClass]="game.winnerId === 1 ? 'win': 'loss'">
        <p>{{ game.id }}</p>

        <p>{{ game.winnerId }}</p>
        <p>{{ game.winnerGoals }}</p>

        <p>{{ game.loserId }}</p>
        <p>{{ game.loserGoals }}</p>
      </li>
    </ul>
  </div>
</div>
<button (click)="profilInfoService.testUgtheven()"></button>
<button (click)="profilInfoService.testUsertest()"></button>
