/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  height: 100%;
  width: 100%;
}

/* Scrollbar Safari, Chrome, IE */
 ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1A202C;
}

::-webkit-scrollbar-thumb {
  background: #44526F;
}

/* Title */
.history-title {
  width: 100%;
  height: 32px;
  font-size: 24px;
  text-align: center;
  margin-block-end: 0%;
}


.history-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  height: calc(100% - 128px);

  overflow-y:scroll;
  overflow-x: hidden;
  scrollbar-color: #44526F #1a202c;
  scrollbar-width: thin;
}

.history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 64px;
  border-radius: 1em;
  margin: 2px;
  transition: 0.3s;
  background-color: #44526F;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.history-item:hover {
  background-color: #1A202C;
}

.history-item-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 64px;
  border-radius: 1em;
  background-color: #1A202C;
}

.history-item-avatar {
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.history-item-mid {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 64px;
}

.history-item-type {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  width: 100%;
  color: white;

  font-size: 18px;
}

.history-item-scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
}

.history-item-score {
  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  width: 48px;
  height: 48px;
}

.history-item-vs {
  height: 40px;
  width: 40px;
}
