.history-content {
  display: flex;
  justify-content: center;
  height: 70%;
  width: 650px;
  border-radius: 1em;
  overflow-y: auto;

  background-color: yellow;
}

.history-items {
  width: 100%;
  height: fit-content;
}

.history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  border-radius: 1em;
  margin: 2px;

  background-color: #44526F;
}

.history-item-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 64px;
  border-radius: 1em;

  background-color: #1A202C;
}

.history-item-avatar {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin-left: 6px;
  margin-right: 6px;
}

.history-item-score {
  font-size: 48px;
  width: 10%;
}
