<!-- Container -->
<div class="container" [ngClass]="collapseService.chatCollapsed ? 'container-collapsed': ''">

  <h3 class="invite-title">Choose gamemode :</h3>
  <!-- Cards -->
  <div class="invite-cards" (click)="inviteService.selectNormal()">
    <!-- Normal mode -->
    <div class="invite-card">
      <h3 class="invite-card-title" >Original</h3>
      <img class="invite-card-logo" src="/assets/images/classic.png" alt="">
    </div>
    <p class="invite-or">OR</p>
    <!-- Custom mode -->
    <div class="invite-card" (click)="inviteService.selectFun()">
      <h3 class="invite-card-title" >Fun</h3>
      <img class="invite-card-logo" src="/assets/images/fun.png" alt="">
    </div>
  </div>

</div>
