<div class="chatbox" *ngIf="(chatRoom | json) != ({} | json)">
    <!-- Header -->
    <!-- <div class="chatbox-header">
        <span class="chatbox-header-span">
          <h2>{{chatRoom.name}}</h2>
        </span>
        <span *ngFor="let roomUser of (roomUsers | async)">
            {{roomUser.username}}
        </span>
    </div> -->


    <!--Messages-->
    <div class="chatbox-messages" #msgs>
        <div *ngFor="let message of (messages|async)">
            <app-chat-message class="chatbox-messages-app" [message]="message"></app-chat-message>
        </div>
    </div>

    <!-- Input-->
    <div class="chatbox-input" *ngIf="(roomUsers | async)?.length; else password">
      <!-- Input -->
      <input class="chatbox-input-form" matInput [formControl]="chatMessage" type="text" (keyup.enter)="sendMessage()">
      <!-- Send button -->
      <button class="chatbox-input-button" [disabled]="!chatMessage.valid && chatRoom" (click)="sendMessage()">Send</button>
    </div>

    <!-- ???? -->
    <ng-template #password>
        <input matInput type="password" [formControl]="pass" required>
        <button mat-button [disabled]="!pass.valid" (click)="joinProtectedRoom()">
            <span style="display: flex; flex-direction: row; align-items: center;">
                <mat-icon>join</mat-icon>
            </span>
        </button>
    </ng-template>
</div>
