.chatbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: calc(100% - 32px);
  height: 100%;
}

/* .chatbox-header {
  background-color: yellow;
  background-color: blue;
} */

/* .chatbox-header-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */

.chatbox-messages {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  height: 218px;
  /* height: 200px; */
  width: 100%;

  border-radius: 1em;
  background-color: #1a202c;
}

.chatbox-messages-app {
  width: 100%;
}

.chatbox-input {
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 1em;
  background-color: #1a202c;
}

.chatbox-input-form {
  height: 32px;
  width: calc(100% - 64px);
}

.chatbox-input-button {
  height: 32px;
  width: 64px;
  border-radius: 1em;
}
