<div class="container">
  <div class="avatar-preview">
    <img avatar class="avatar" />
  </div>
	<div class="card" *ngIf="user">
		<h1>User infos</h1>
		<table>
			<tr>
				<th>sub <span class="detail">(user id)</span></th><td>{{user.sub}}</td>
			</tr>
			<tr>
				<th>username</th><td>{{user.username}}</td>
			</tr>
			<tr>
				<th>token state</th><td>{{is_valid ? "valid": "invalid"}}</td>
			</tr>
			<tr>
				<th>token expiration</th><td>{{expiration}}</td>
			</tr>
			<tr>
				<th>Backend connection status</th><td>{{backend_messagee}}</td>
			</tr>
		</table>
	</div>
	<div class="card" *ngIf="!user">
		<p>User not logged in 🙁 (no token found locally).</p>
	</div>
</div>
<div>
	<h2>Users</h2>
	<table>
	<tr>
			<th>User</th>
			<th>Avatar</th>
		</tr>
		<tr *ngFor="let username of users">
			<td>{{username}}</td>
			<td><img avatar [username]="username" alt=""></td>
		</tr>
	</table>
</div>
