<div class="container">

  <div class="ladder-items" *ngIf="isLoaded">
    <div class="ladder-item" *ngFor="let player of ladder.slice(); let indexOfElement = index">

      <div class="ladder-rank">
        <p [ngClass]="colorPodium(indexOfElement + 1)"> {{ indexOfElement + 1 }} </p>
      </div>

      <div class="ladder-evolution">
        <img *ngIf="scoreEvolution(1, 2) === 'up'" src="assets/images/up.png" alt="">
        <img *ngIf="scoreEvolution(1, 2) === 'down'" src="assets/images/down.png" alt="">
        <img *ngIf="scoreEvolution(1, 2) === 'equal'" src="assets/images/equal.png" alt="">
      </div>

      <div class="ladder-score">
        <img src="assets/images/elo.png" alt="">
        <p class="ladder-score-field"> {{ player.score }} </p>
      </div>

      <div class="ladder-win-lose">
        <p class="ladder-wins"> W </p>
        <p> {{ player.nbWins }} / {{ player.nbLoses }} </p>
        <p class="ladder-loses"> L </p>
      </div>

      <div class="ladder-player">
        <p (click)="popupsService.openProfil(player.username)"> {{ player.username }} </p>
        <img class="ladder-player-avatar" avatar username="{{ player.username }}" alt="">
      </div>

    </div>
  </div>

</div>
